@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.gradient-text {
  background: linear-gradient(90deg, #00ffa3, #9945ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.solana-gradient {
  background: linear-gradient(90deg, #00ffa3, #9945ff);
}

.gmgn-gradient {
  background: linear-gradient(90deg, #3b82f6, #1d4ed8);
}
